.note {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10%;
    margin: auto;
    text-align: left;
}

#musicCanvas {
    background-color: #000000;
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #73cfd8;
    width: 500px;  /* Specify your desired width */
    height: 300px; /* Specify your desired height */
}

.heading {
    display: inline-block;
    padding: 20px;
    margin: 20px 0;
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
