.note {
    box-shadow: inset;
    padding: 10%;
    margin: auto;
}

canvas {
    background-color: #000000;
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #73cfd8;
    width: 500px;  /* Specify your desired width */
    height: 300px; /* Specify your desired height */
}
